# .gitignore
logs/
output/
input_test.py
.gitignore
zkvm_testing/
generate_jwt.py
jwt_key
public_key.pem
execution_timings.txt

# Python
__pycache__/
*.pyc
.venv/
.venv
env/
*.egg-info/


.idea/

# Nixos Dev
.envrc
.direnv