# .gitignore
log.txt
failed.txt
ir/all_ir.json
misc.py
output/
policies/
original_policy_requests/
test_output/
input_test.py
.gitignore
rust_struct_fields.json
field_frequencies.json

# Python
__pycache__/
*.pyc
.venv/
.venv
env/
*.egg-info/

# VSCode or PyCharm
.idea/
.vscode/

# Nixos Dev
.envrc
.direnv
