# .gitignore
log.txt
failed.txt
ir/all_ir.json
misc.py
output/
policies/
original_policy_requests/

# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# VSCode or PyCharm
.idea/
.vscode/

# Nixos Dev
.envrc
.direnv
