{%- if regex %}
use regex_automata::dfa::{Automaton, dense::DFA};
use regex_automata::Input;

fn eval_regex(regex_input: &str, regex_exp: &[u8]) -> bool {
    match DFA::from_bytes(regex_exp) {
        Ok((dfa, _)) => {
            let input = Input::new(regex_input);
            match dfa.try_search_fwd(&input) {
                Ok(result) => result.is_some(),
                Err(_) => false,
            }
        },
        Err(_) => false,
    }
}
{%- endif %}

{% for regex_claim in regex_claims %}
{{ regex_claim }}
{% endfor %}

{%- if jwt %}
static MODULUS: &[u8] = include_bytes!("modulus.bin");
static EXPONENT: &[u8] = include_bytes!("exponent.bin");

fn verify_jwt(token: &str){
    let mut parts = token.split('.');
    let header_b64 = parts.next().expect("jwt header");
    let payload_b64 = parts.next().expect("jwt payload");
    let signature_b64 = parts.next().expect("jwt signature");
    assert!(parts.next().is_none(), "jwt should have exactly 3 parts");

    let engine = URL_SAFE_NO_PAD;
    let _header = engine.decode(header_b64).expect("header base64");
    let payload = engine.decode(payload_b64).expect("payload base64");
    let signature_bytes = engine.decode(signature_b64).expect("signature base64");

    // let n_bytes = engine.decode(MODULUS_B64).expect("modulus base64");
    // let e_bytes = engine.decode(EXPONENT_B64).expect("exponent base64");
    // let n = BigUint::from_bytes_be(&n_bytes);
    // let e = BigUint::from_bytes_be(&e_bytes);
    let n = BigUint::from_bytes_be(MODULUS);
    let e = BigUint::from_bytes_be(EXPONENT);
    let public_key = RsaPublicKey::new(n, e).expect("valid RSA public key");
    let verifying_key = VerifyingKey::<Sha256>::new(public_key);
    let signature = Signature::try_from(signature_bytes.as_slice()).expect("signature format");

    let signed_data = format!("{}.{}", header_b64, payload_b64);
    verifying_key
        .verify(signed_data.as_bytes(), &signature)
        .expect("RSA signature check");

}
{%- endif %}


{%- if time %}
fn parse_time(raw: &str) -> DateTime<FixedOffset> {
    let input = format!("1970-01-01T{}", raw);
    DateTime::parse_from_rfc3339(&input).unwrap()
}
{%- endif %}

{%- if duration %}
fn parse_duration(raw: &str) -> String {
    let is_negative = raw.starts_with('-');
    let trimmed = raw.trim_start_matches('-');

    let parsed = IsoDuration::parse(trimmed).unwrap().to_string();

    if is_negative {
        format!("-{}", parsed)
    } else {
        parsed
    }
}
{%- endif %}