#[derive(Debug, Clone, serde::Serialize, serde::Deserialize, Default)]
#[serde(default)]
{%- if time or date %}
use chrono::{NaiveDate, DateTime, FixedOffset};
{%- endif %}
{%- if duration %}
use iso8601_duration::Duration as IsoDuration;
{%- endif %}

pub struct Inputs {
{{ fields }}
}

impl Inputs {
    pub fn new({{ params }}) -> Self {
        Self {
{{ assigns }}
        }
    }
}