use policy_core::Inputs;
use regex::Regex;
use risc0_zkvm::guest::env;

#[derive(Debug)]
enum Result {
    Permit,
    Deny,
    NotApplicable,
}

{% for rule_fn in rule_functions %}
{{ rule_fn }}
{% endfor %}

{{ policy_function }}

fn main() {
    let inp: Inputs = env::read();
    let decision = evaluate_policy_{{ policy_name }}(&inp);
    env::commit(&decision);
}