use policy_core::Inputs;
{%- if regex %}
use regex::Regex;
{%- endif %}
use risc0_zkvm::guest::env;

#[derive(Debug, PartialEq)]
enum Result {
    Permit,
    Deny,
    NotApplicable,
}

{% for rule_fn in rule_functions %}
{{ rule_fn }}
{% endfor %}

{% for policy_fn in policy_functions %}
{{ policy_fn }}
{% endfor %}

{{ policyset_function }}

fn main() {
    let inp: Inputs = env::read();

    {% if policyset_function %}
    let decision = evaluate_policyset_{{ policyset_name }}(&inp);
    {% else %}
    let decision = match evaluate_policy_policy(&inp) {
        Result::Permit => true,
        _ => false,
    };
    {% endif %}

    env::commit(&decision);
}