use policy_core::Inputs;
use risc0_zkvm::guest::env;
{%- if set %}
use std::collections::HashSet;
{%- endif %}
{%- if time or date %}
use chrono::{NaiveDate, DateTime, FixedOffset};
{%- endif %}
{%- if duration %}
use iso8601_duration::Duration as IsoDuration;
{%- endif %}
{%- if jwt  %}
use base64::engine::general_purpose::URL_SAFE_NO_PAD;
use base64::Engine;
use rsa::{pkcs1v15::{Signature, VerifyingKey}, BigUint, RsaPublicKey};
use sha2::Sha256;
use signature::Verifier;
{%- endif %}

{{ helper_functions }}

#[derive(PartialEq)]
enum Result {
    Permit,
    Deny,
    NotApplicable,
}

{% for rule_fn in rule_functions %}
{{ rule_fn }}
{% endfor %}

{% for policy_fn in policy_functions %}
{{ policy_fn }}
{% endfor %}

{{ policyset_function }}

fn main() {
    let inp: Inputs = env::read();

    {% if policyset_function %}
    let mut decision = evaluate_policyset_{{ policyset_name }}(&inp);
    {% else %}
    let mut decision = match evaluate_policy_{{ policy_name }}(&inp) {
        Result::Permit => true,
        _ => false,
    };
    {% endif %}

    {%- if jwt %}
    let jwt: String = env::read();
    if !extract_jwt(&jwt, &inp) {
        decision = false;
    }
    {% endif %}

    env::commit(&decision);
    env::commit(&inp);
}