{#
    Consider return Result as value from Policy function rather than bool, as less changes required to current
    implementation if PolicySet is present. Final output can be resolved in main instead.
#}
{% if target_expr %}
fn evaluate_target_{{ policy_name }}(inp: &Inputs) -> bool {
    {{ target_expr }}
}
{% endif %}

fn evaluate_policy_{{ policy_name }}(inp: &Inputs) -> Result {
    {% if target_expr %}
    if !evaluate_target_{{ policy_name }}(inp) {
        return false;
    }
    {% endif %}

    let results = vec![
        {% for rule_id in rule_ids %}
        evaluate_rule_{{ policy_name }}_{{ rule_id }}(inp),
        {% endfor %}
    ];

    {% if algorithm == "deny-overrides" or algorithm == "ordered-deny-overrides"%}
    //deny-overrides
    let mut atleast_one_permit = false;
    for res in &results {
        if *res == Result::Deny {
            return Result::Deny
        } else if *res == Result::Permit {
            atleast_one_permit = true;
        }
    }
    if atleast_one_permit {
        return Result::Permit
    }
    return Result::NotApplicable
    {% endif %}

    {% if algorithm == "permit-overrides" or algorithm == "ordered-permit-overrides" or algorithm == "deny-unless-permit" %}
    //permit-overrides || deny-unless-permit
    let mut atleast_one_deny = false;
    for res in &results {
        if *res == Result::Permit {
            return Result::Permit
        } else if *res == Result::Deny {
            atleast_one_deny = true;
        }
    }
    if atleast_one_deny {
        return Result::Deny;
    }
    return Result::NotApplicable;
    {% endif %}

    {% if algorithm == "permit-unless-deny" %}
    //permit-unless-deny
    for res in &results {
        if *res == Result::Deny {
            return Result::Deny;
        }
    }
    return Result::Permit;
    {% endif %}

    {% if algorithm == "first-applicable" %}
    //first-applicable
    for res in &results {
        if *res != Result::NotApplicable {
            return *res;
        }
    }
    return Result::NotApplicable;
    {% endif %}

}