{#
    Copied over from original policy_template, modified policy_template to return Result instead
    Thus, policyset evaluation can remain unchanged
#}
{% if target_expr %}
fn evaluate_target_{{ policyset_name }}(inp: &Inputs) -> bool {
    {{ target_expr }}
}
{% endif %}

fn evaluate_policyset_{{ policyset_name }}(inp: &Inputs) -> bool {
    {% if target_expr %}
    if !evaluate_target_{{ policyset_name }}(inp) {
        return false;
    }
    {% endif %}

    {% if algorithm != "only-one-applicable" %}
    let results = vec![
        {% for policy_id in policy_ids %}
        evaluate_policy_{{ policy_id }}(inp),
        {% endfor %}
    ];
    {% endif %}

    {% if algorithm == "deny-overrides" or algorithm == "ordered-deny-overrides"%}
    //deny-overrides
    let mut atleast_one_permit = false;
    for res in &results {
        if *res == Result::Deny {
            return false
        } else if *res == Result::Permit {
            atleast_one_permit = true;
        }
    }
    return atleast_one_permit;
    {% endif %}

    {% if algorithm == "permit-overrides" or algorithm == "ordered-permit-overrides" or algorithm == "deny-unless-permit" %}
    //permit-overrides || deny-unless-permit
    for res in &results {
        if *res == Result::Permit {
            return true
        }
    }
    return false;
    {% endif %}

    {% if algorithm == "permit-unless-deny" %}
    //permit-unless-deny
    for res in &results {
        if *res == Result::Deny {
            return false
        }
    }
    return true;
    {% endif %}

    {% if algorithm == "first-applicable" %}
    //first-applicable
    for res in &results {
        if *res == Result::Deny {
            return false
        }
        if *res == Result::Permit {
            return true
        }
        //continues in the case of NotApplicable, condition not needed, adding comment for clarity
    }
    return false;
    {% endif %}

    {% if algorithm == "only-one-applicable" %}
    //only-one-applicable
    let results = vec![
        {% for policy_id in policies_with_targets %}
        evaluate_target_{{ policy_id }}(inp),
        {% endfor %}
    ];
    let mut counter = 0;
    for res in &results {
        if *res == true {
            counter += 1;
            if counter > 1 {
                return false;
            }
        }
        //continues in the case of NotApplicable, condition not needed, adding comment for clarity
    }
    if counter == 1 {
        //return true;
        let results = vec![
            {% for policy_id in policy_ids %}
            evaluate_policy_{{ policy_id }}(inp),
            {% endfor %}
        ];
        for res in &results {
            if *res == Result::Deny {
                return false
            }
            if *res == Result::Permit {
                return true
            }
        }
    }
    return false;
    {% endif %}

}