{% if target_expr %}
fn evaluate_target_{{ rule_name }}(inp: &Inputs) -> bool {
    {{ target_expr }}
}
{% endif %}

{% if cond_expr %}
fn evaluate_cond_{{ rule_name }}(inp: &Inputs) -> bool {
    {{ cond_expr }}
}
{% endif %}

fn evaluate_rule_{{ rule_name }}(inp: &Inputs) -> Result {
    {% if target_expr %}
    if !evaluate_target_{{ rule_name }}(inp) {
        return Result::NotApplicable;
    }
    {% endif %}

    {% if not cond_expr %}
    return Result::{{ effect }};
    {% endif %}

    {% if cond_expr %}
    if evaluate_cond_{{ rule_name }}(inp) {
        return Result::{{ effect }};
    } else {
        return Result::NotApplicable;
    }
    {% endif %}
}