{% if substring_helper %}
fn substring_helper(input: &str, start: i32, end: i32) -> Option<&str> {
    if start < 0 || end < -1 {
        return None;
    }
    let start_size = start as usize;
    let end_size = if end == -1 {
        input.len()
    } else {
        end as usize
    };
    if start_size > end_size || end_size > input.len() {
        return None;
    }
    Some(&input[start_size..end_size])
}
{% endif %}

{% if target_expr %}
fn evaluate_target_{{ policy_name }}_{{ rule_name }}(inp: &Inputs) -> bool {
    {{ target_expr }}
}
{% endif %}

{% if cond_expr %}
fn evaluate_cond_{{ policy_name }}_{{ rule_name }}(inp: &Inputs) -> bool {
    {{ cond_expr }}
}
{% endif %}

fn evaluate_rule_{{ policy_name }}_{{ rule_name }}(inp: &Inputs) -> Result {
    {% if target_expr %}
    if !evaluate_target_{{ policy_name }}_{{ rule_name }}(inp) {
        return Result::NotApplicable;
    }
    {% endif %}

    {% if not cond_expr %}
    return Result::{{ effect }};
    {% endif %}

    {% if cond_expr %}
    if evaluate_cond_{{ policy_name }}_{{ rule_name }}(inp) {
        return Result::{{ effect }};
    } else {
        return Result::NotApplicable;
    }
    {% endif %}
}